<%- include('../parts/head') %>

    <body>
        <section class="colored-section" id="add-document">
            <div class="container-fluid min-vh-100">
                <!-- Add New Document Form -->
                <form action="/dashboard/subject/<%= subject._id %>/document/add" method="POST"
                    enctype="multipart/form-data" class="mx-auto login-form form">
                    <h4 class="form-heading">Add New Documents for <%= subject.name %>
                    </h4>

                    <!-- Select Document Type from subject.types -->
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="fa-solid fa-tags"></i>
                        </span>
                        <select class="form-select" name="type" required>
                            <option selected disabled>Select Document Type</option>
                            <% subject.types.forEach(type=> { %>
                                <option value="<%= type._id %>">
                                    <%= type.name %>
                                </option>
                                <% }) %>
                        </select>
                    </div>

                    <!-- PDF File Upload -->
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="fa-solid fa-file-pdf"></i>
                        </span>
                        <input type="file" name="documents" class="form-control" accept="application/pdf" multiple
                            required>
                    </div>
                    <small class="form-text text-muted">You can upload multiple PDF files.</small>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary login-btn">Add Documents</button>

                    <!-- Back to Subject Page Link -->
                    <p class="form-text">Want to go back? <a href="/dashboard/subject/<%= subject._id %>/documents"
                            class="form-link">Back to Subject</a></p>
                </form>
            </div>
        </section>
    </body>

    </html>