<%- include('../parts/head') %>

    <section class="white-section">
        <div class="container-fluid">
            <h1 id="year1" class="year-title">
                <%= major.name %> Submajors
            </h1>
            <hr>
            <a href="/dashboard/major/<%= major._id %>/submajor/add" class="btn btn-success mb-4">Add
                Submajor</a>

            <div class="files-col">
                <ul class=" list-group list-group-flush">
                    <% years.forEach((year)=> { %>
                        <% if (year.hasSubmajors.length> 0) { %>
                            <% year.hasSubmajors.forEach((submajor)=> { %>
                                <li class="files-btn list-group-item d-flex justify-content-between align-items-center">
                                    <button class="btn" type="button">
                                        <span class="files-icon"><i class="fa-solid fa-graduation-cap"></i></span>
                                        <%= year.name %> - <%= submajor.name %>
                                    </button>
                                    <div>
                                        <a href="/dashboard/major/<%= major._id%>/submajor/update/<%= submajor._id %>"
                                            class="btn btn-warning btn-sm">Update</a>
                                        <form
                                            action="/dashboard/major/<%= major._id%>/submajor/delete/<%= submajor._id %>"
                                            method="POST" style="display:inline;">
                                            <button type="submit" class="btn btn-danger btn-sm"
                                                onclick="return confirm('Are you sure you want to delete this submajor?');">Delete</button>
                                        </form>
                                        <a href="/dashboard/major/<%= major._id %>/year/<%= year._id %>/subjects"
                                            class="btn btn-primary sign-btn btn-sm">View Subjects</a>
                                    </div>
                                </li>
                                <% }) %>
                                    <% } else { %>
                                        <li
                                            class="files-btn list-group-item d-flex justify-content-between align-items-center">
                                            <button class="btn" type="button">
                                                <span class="files-icon"><i
                                                        class="fa-solid fa-graduation-cap"></i></span>
                                                <%= year.name %>
                                            </button>
                                            <div>
                                                <a href="/dashboard/major/<%= major._id %>/year/<%= year._id %>/subjects"
                                                    class="btn btn-primary sign-btn btn-sm">View Subjects</a>
                                            </div>
                                        </li>
                                        <% } %>
                                            <% }) %>
                </ul>
            </div><br><br>
            <a href="/dashboard/majors" class="btn btn-secondary sign-btn">Back to Majors</a>

        </div>
    </section>