<%- include('../parts/head') %>
    <%- include('../parts/navAdmin') %>

        <section class="white-section">
            <div class="container-fluid">
                <h1 id="year1" class="year-title">
                    Users
                </h1>
                <hr>

                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Specialty</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach((user, index)=> { %>
                                <tr>
                                    <td>
                                        <%= index + 1 %>
                                    </td>
                                    <td>
                                        <%= user.name %>
                                    </td>
                                    <td>
                                        <%= user.email %>
                                    </td>
                                    <td>
                                        <%= user.specialty.name %>
                                    </td>
                                    <td>
                                        <%= user.type %>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>