<%- include('../parts/head') %>

    <section class="colored-section" id="cs-lmd-home">
        <div class="container-fluid">
            <div class="speciality-home">
                <h1 class="speciality-page-title">
                    <%= major.name %> Resources
                </h1>
                <div class="d-flex justify-content-center align-items-center mb-4">
                    <% years.forEach((year, index)=> { %>
                        <% if (year.hasSubmajors.length> 0) { %>
                            <div class="dropdown mx-2">
                                <a class="years-btn btn btn-primary dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <%= year.name %>
                                </a>
                                <ul class="dropdown-menu">
                                    <% year.hasSubmajors.forEach(submajor=> { %>
                                        <!-- Add unique id for each submajor -->
                                        <li><a class="dropdown-item"
                                                href="#submajor<%= year._id %>-<%= submajor._id %>">
                                                <%= submajor.name %>
                                            </a></li>
                                        <% }) %>
                                </ul>
                            </div>
                            <% } else { %>
                                <a href="#year<%= year._id %>" class="btn btn-primary mx-2 years-btn">
                                    <%= year.name %>
                                </a>
                                <% } %>
                                    <% }) %>
                </div>
            </div>
        </div>
    </section>

    <section class="white-section">
        <div class="container-fluid">
            <% years.forEach(year=> { %>
                <!-- Check if the year has submajors -->
                <% if (year.hasSubmajors.length> 0) { %>
                    <% year.hasSubmajors.forEach(submajor=> { %>
                        <!-- Display Year and Submajor Title with unique id -->
                        <h2 class="year-title" id="submajor<%= year._id %>-<%= submajor._id %>">
                            <%= year.name %> - <%= submajor.name %>
                        </h2>
                        <hr>

                        <div class="row">
                            <% year.semester.forEach(semester=> { %>

                                <div class="col-lg-6 semester-col">
                                    <h3 class="Semester-title">
                                        <%= semester %>
                                    </h3>
                                    <hr>
                                    <ul class="list-group list-group-flush modules">
                                        <% for (let i=0; i < 6; i++) { %> <!-- Loop for Semester 1 modules -->
                                            <li class="list-group-item">
                                                <div class="dropdown">
                                                    <button class="btn w-100 module-btn" type="button"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                        Module <%= i + 1 %>
                                                    </button>
                                                    <ul class="dropdown-menu w-100 module-dropdown">
                                                        <li><a class="dropdown-item" href="#">Courses</a></li>
                                                        <li><a class="dropdown-item" href="#">TDs</a></li>
                                                        <li><a class="dropdown-item" href="#">TPs</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <% } %>
                                    </ul>
                                </div>
                                <% }) %>
                        </div> <!-- End row -->
                        <% }) %>
                            <% } else { %>
                                <!-- If no submajors, just display the year -->
                                <h2 class="year-title" id="year<%= year._id %>">
                                    <%= year.name %>
                                </h2>
                                <hr>

                                <!-- Semesters 1 and 2 for Year without Submajors -->
                                <div class="row">
                                    <!-- Semester 1 -->
                                    <% year.semester.forEach(semester=> { %>
                                        <div class="col-lg-6 semester-col">
                                            <h3 class="Semester-title">
                                                <%= semester %>
                                            </h3>
                                            <hr>
                                            <ul class="list-group list-group-flush modules">
                                                <% for (let i=0; i < 6; i++) { %>
                                                    <li class="list-group-item">
                                                        <div class="dropdown">
                                                            <button class="btn w-100 module-btn" type="button"
                                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                                Module <%= i + 1 %>
                                                            </button>
                                                            <ul class="dropdown-menu w-100 module-dropdown">
                                                                <li><a class="dropdown-item" href="#">Courses</a></li>
                                                                <li><a class="dropdown-item" href="#">TDs</a></li>
                                                                <li><a class="dropdown-item" href="#">TPs</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <% } %>
                                            </ul>
                                        </div>
                                        <% }) %>
                                </div> <!-- End row -->
                                <% } %>
                                    <% }) %>
        </div>
    </section>

    </body>

    </html>